body{margin: 0;}
ul{list-style-type: none; margin: 0; padding: 0;}
a{text-decoration: none; color: cornflowerblue; font-size: 23px;}
/*helpers*/
.flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .just-start {
    justify-content: flex-start;
  }
  .just-end {
    justify-content: flex-end;
  }
  .between{justify-content: space-between;}
  /* helpers End */

  .h-main-continer{
    box-shadow:5px 10px 25px 2px grey ;
  }
  .h-nav{
    height: 100px;
    width:100%;
    background-color: aquamarine;
  }
  /* .h-logo-container{
    } */
  .h-logo{
    height:60px;
    width:60px;
    padding: 20px;
    background-color: brown;
  }
  .h-links-container{align-self: center; }
  .h-links-list li {padding: 10px; margin: 0 20px 0 0;}

