/* body{}

/*helpers*/

/* .flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .just-start {
    justify-content: flex-start;
  }
  .just-end {
    justify-content: flex-end;
  } */

/* helpers End  */

.e-email {
  list-style: none;
  border-bottom: solid 1 px;
  border-bottom-style: dashed;
}

.e-read {
  color: gray;
}