body{
<<<<<<< HEAD
  overflow-x: hidden;
  height: 100%;
=======
  overflow-y: hidden;
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
}

/*helpers*/
.flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .just-start {
    justify-content: flex-start;
  }
  .just-end {
    justify-content: flex-end;
  }
<<<<<<< HEAD
 
=======
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
  /* helpers End */
  
.n-main-container{
  height: 100%;
  width:100%;
  background-color: rgb(184, 174, 174);
}

.n-top-continer{
    box-shadow:5px 10px 25px 2px grey ;
    height: 100px;
    width:100%;
    background-color: aquamarine;
  }
  /*.n-logo-container{
  }
  .n-nav{
  }
  .n-logo-container{
  } */
  .n-logo{
    height:70px;
    width:70px;
    padding: 15px 0 0 20px;
  }

<<<<<<< HEAD
  .n-search{
    height: 60px;
    width:300px;
    padding: 10px;
    justify-content: center;
    align-self: center;
  }

=======
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
  .n-home-link{
    padding: 10px;
    margin: 0 20px 0 0;
    align-self: center;
  }


.n-add-note-container{
  position: relative;
  margin: 10px auto;
  padding: 5px;
<<<<<<< HEAD
  /* height: 60px; */
=======
  height: 60px;
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
    width:100%;
    /* 
    background-color: peru; */
}
.n-wrapper{
  position: relative;
  margin: 0 auto;
  padding: 0;
  height:inherit;
}
<<<<<<< HEAD
.n-add-note-label{
  background-color:#fff; 
  display:block; 
  height:20px;
  width: 500px; 
  padding: 1px 10px 1px 10px;
  border: 1px solid black;
  outline: none;
  border:none; 
}
=======
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
.n-add-note-input{
  background-color:#fff; 
  display:block; 
  height:60px;
  width: 500px; 
<<<<<<< HEAD
  padding: 1px 10px 1px 10px;
=======
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
  /* box-sizing: border-box; */
  outline: none;
  border:none; 
}
.n-variations-container{
  position: absolute;
<<<<<<< HEAD
  top:45px;
  right:10px;
}
.n-variations-container img{
=======
  top:20px;
  right:10px;
}
.n-variations-container img{
  /* position: fixed;  */
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
  top: 30px; 
  right: 550px;
  height:20px;
  width:20px;  
  margin:  0 5px 0 0;
<<<<<<< HEAD
  cursor: pointer;
  opacity: 0.5;
}
.n-variations-container img:hover{
  opacity: 1;
}
.colors-palette{
width:100%;
height:auto;
background-color: seagreen;
display: none;
}.color-palette-color-img{
  justify-content: flex-end;
  height:20px;
  width:20px;
margin: 0 5px 0 0;
border-radius: 3em;
=======
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
}

/* Main */

/* notes */
.n-notes-container{
<<<<<<< HEAD
  width:90%;
  height:auto;
  margin: 0 auto;
}
.n-notes-list{
  /* width:100%;
  height:100%; */
  justify-content: space-around;
}
.n-notes-list div{
  width:300px;
}
.n-note{
  /* min-height:100px; */
  width:100%;
  margin: 5px;
  /* padding: 2px; */
  border:1px solid black;
  
}.n-note-header{
  padding: 0 0 0 0;
  margin: 0 0 5px 0;
  height:20px;
}
.n-note-lable{  
  padding: 0 0 0 5px;
  font-weight: bolder;
}

.in-note-controls{  
width:100%;
height:30px;
/* background-color: seagreen; */
padding: 1px 0 2px 2px;
}
.in-note-control-img{
  justify-content: flex-end;
  height:30px;
  width:30px;
  opacity: 0.5;
}
.in-note-control-img:hover{
  opacity: 1;
}

.n-text-note{
  background-color: rgb(233, 155, 155);
  
}.n-text-note-header{
  height:20px;
  color: rgb(61, 42, 42);
  background-color: rgb(155, 165, 157);
}.n-note-text-container{
  min-height: 50px;
}.n-note-txt{
  color: rgb(255, 255, 255);
  max-width: 120px;
  white-space: pre-line;  
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 0 5px 0 5px;
}

.n-image-note{    
  background-color: rgb(122, 122, 112);
}.n-image-note-header{
  height:20px;
  color: rgb(65, 54, 128);
  font-size:18px;
  background-color: rgb(182, 218, 229);
}.n-image-note-img {
  height:100%;
  width:100%;
  border-top: 1px solid black;
  /* border:1px black solid; */
}.n-save-img-btn{
  height:20px;
  width:20px;
  cursor: pointer;
  margin: 0 0 0 5px;
}.image-upload{
  display: flex;
  flex-wrap: wrap;
  top: 30px; 
  right: 550px;
  height:20px;
  width:20px;  
  margin:  0 5px 0 0;
  cursor: pointer;
  opacity: 0.5;
}.image-upload>input {
  display: none;
}

.n-todoes-note{
  background-color: rgb(226, 236, 164);

}.n-todo-header{    
background-color: rgb(233, 224, 220);
border-bottom: black 1px dashed;
}.n-todo-label{
  color: rgb(177, 27, 127);
}.n-dotos-list{
  padding:5px;
}.n-todo-item{
  color:rgb(23, 53, 23);
  cursor: pointer;
}
/* notes Ens */

/* main End */




/* Footer */
.n-footer-continer{
  width:100%;
  height:250px;
  background-color: rgb(200, 231, 168);
}
/* footer - End */
=======
  width:80%;
  margin: 0 auto;
}
.n-notes-list{
  width:100%;
  height:100%;
  justify-content: space-around;
}
.n-note{
  min-height:100px;
  width:250px;
  margin: 5px;
  background-color: lightcoral;
  border:1px solid black;
  
}.n-text-note{justify-content: center;
}

.n-note-header{
  height:auto;
  background-color: khaki;
}
.n-note-lable{  
  color: blueviolet;
  font-weight: bolder;
}

.n-image-note{  

}.n-note-image {
  height:250px;
  width:100%;
  border:1px black solid;
}

.n-note-text-container{
}.n-note-text{
  padding: 5px;
  max-width: 100px;
  
  white-space: pre-wrap;
  
  padding: 20px;
}
/* notes Ens */

/* main End */
>>>>>>> 09a09c5a486979cc88993b83433ec67c8b14deb1
