body{
  background-color: rgb(184, 174, 174);
}

/*helpers*/
.flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .just-start {
    justify-content: flex-start;
  }
  .just-end {
    justify-content: flex-end;
  }
  /* helpers End */
  

.n-main-continer{
    box-shadow:5px 10px 25px 2px grey ;
    height: 100px;
    width:100%;
    background-color: aquamarine;
  }
  /*.n-logo-container{
  }
  .n-nav{
  }
  .n-logo-container{
  } */
  .n-logo{
    height:70px;
    width:70px;
    padding: 15px 0 0 20px;
  }

  .n-home-link{
    padding: 10px;
    margin: 0 20px 0 0;
    align-self: center;
  }


.n-add-note-container{
  position: relative;
  margin: 10px auto;
  padding: 5px;
  height: 300px;
    width:100%;
    /* background-color: peru; */
}
.n-add-note-input{
  background-color:#fff; 
  display:block; 
  height:60px;
  width: 500px; 
  /* box-sizing: border-box; */
  margin: 0 auto;
  outline: none;
  border:none; 
}
.n-variations-container{position: relative;}
.n-variations-container img{
  position: fixed; 
  top: 30px; 
  right: 550px;
  height:20px;
  width:20px;  
}


.n-variation-img1{ 
    margin: 0 125px 0 0;
}

.n-variation-img2{ 
    margin: 0 95px 0 0;
}
.n-variation-img3{ 
    margin: 0 65px 0 0;
}
.n-variation-img4{
    margin: 0 35px 0 0;
}
.n-variation-img5{  
    margin: 0 5px 0 0;
}





/* Main */

/* notes */
.n-note-image{

}
.n-note-txt{

}
/* notes Ens */

/* main End */