body{}

/*helpers*/
.flex {
    display: flex;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .just-start {
    justify-content: flex-start;
  }
  .just-end {
    justify-content: flex-end;
  }
  /* helpers End */

  .n-main-continer{

  }